@{
    Layout =null;
    // Layout = "_Layout";

}

<h2>Email Confirmation</h2>

<div class="alert alert-info">
    <p>An email has been sent to your address with a link to confirm your email.</p>
    <p>Please check your inbox and follow the instructions to confirm your email address.</p>
</div>

    

