

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DoctorModel

@{
    ViewData["Title"] = "Create";
   
}

<div class="row justify-content-center card shadow">
    <h4 class="text-center p-4">Create Doctor</h4>
    <div class="col-md-12 card-body">
        <!-- Adjust the form width here -->
        <form asp-action="Create" asp-controller="Doctor" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- First Row of Input Fields -->
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Speciality" class="control-label"></label>
                        <input asp-for="Speciality" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Speciality" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Degree" class="control-label"></label>
                        <input asp-for="Degree" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </div>
                </div>

                
            </div>

            <!-- Second Row of Input Fields -->
            <div class="row mb-4">
             
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Experience" class="control-label"></label>
                        <input asp-for="Experience" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

               



            </div>

            <!-- Third Row of Input Fields -->
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

              

   <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="WaitTime" class="control-label"></label>
                        <input asp-for="WaitTime" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="WaitTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AvailabilityDays" class="control-label"></label>
                        <input asp-for="AvailabilityDays" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="AvailabilityDays" class="text-danger"></span>
                    </div>
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AvailabilityHours" class="control-label"></label>
                        <input asp-for="AvailabilityHours" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="AvailabilityHours" class="text-danger"></span>
                    </div>

                </div>


                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="IsActive" />
                        <label class="form-check-label" for="IsActive">
                            @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>





            <!-- Fourth Row of Input Fields -->
            <div class="row mb-4">


                </div>

                 <div class="col-md-3" hidden>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <input asp-for="UserId" class="form-control input-lg custom-input-width" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div> 

               
            </div>

           

            <div class="form-group d-flex justify-content-center ">
                <input type="submit" value="Create" class="btn btn-primary btn-sm  " style="width:200px; border-radius:20px" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@
